<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appprojects.arindam.synesthesia">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/synesthesia_logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/synesthesia_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".ArtistActivity"
            android:label="@string/title_activity_artist"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appprojects.arindam.synesthesia.MainActivity" />
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".AlbumActivity"
            android:parentActivityName=".ArtistActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appprojects.arindam.synesthesia.ArtistActivity" />
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".DirectorySetterActivity"
            android:label="@string/Set_search_directories"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appprojects.arindam.synesthesia.MainActivity" />
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
             android:name=".DirectoryPathAcceptor"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" />
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>